
.container {
  width: 100%;
  // max-width: 1440px;
  max-width: 1500px;
  padding: 50px 60px;
  margin: 0 auto;

  @media (max-width: 800px) {
    padding: 20px 30px;
  }
}

.background_img {
  width: 100%;

  img, svg {
    width: 100%;
  }
}

.describe {

  
  &__wrapper {
    display: flex;
    justify-content: space-between;
    // padding: 50px 60px;
    gap: 100px;
  
    .description {
      // flex: 1;
      width: 100%;
      max-width: 624px;
      
      h2 {
        font-size: $font-size-title;
        font-weight: 700;
        line-height: 50px;
        // max-width: 624px;
        margin-bottom: $margin-title;

      }
  
      .text {
        // height: 420px;
      }
  
      p {
        // width: 624px;
        font-weight: 400;
        line-height: 24px;
        font-size: $font-size-text;
        padding-bottom: 24px;
      }
  
      a {
        font-weight: 800;
        color: black;
        width: 100%;
        max-width: 338px;
        height: 80px;
        border-radius: 40px;
        background: #E5CC6B;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 24px;
        margin-top: 32px;
  
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  
    .image_description {
      // flex: 1;
      max-width: 800px;
      width: 100%;
  
  
      @media (max-width: 800px) {
        display: none;
      }
  
      
      img {
        height: 100%;
        width: 100%;
        max-width: 800px;
      }
    }
  }

  .img__mobile {
    width: 100%;
    height: 100%;
    display: none;

    img, svg {
      width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
  }
}

.churrasqueira {
  background: #E5CC6B;
  
  &__wrapper {
    width: 100%;
    // padding: 50px 60px;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  &__img {
    width: 100%;
    max-width: 600px;
    

    @media (max-width: 800px) {
      display: none;
    }

    img {
      width: 100%;
      // object-fit: cover;
    }
  }

  &__info {
    width: 624px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // flex: 1;

    .title {
      display: flex;
      font-size: $font-size-title;
      font-weight: 800;
      margin-bottom: $margin-title;
      // text-align: center;
    }

    p {
      padding-bottom: 20px;
      max-width: 624px;
      font-weight: 400;
      line-height: 26px;
      font-size: $font-size-text;
    }
  }

  .churrasqueira__images {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    margin-top: 40px;
    gap: 15px;
    // flex-wrap: ;

    .img__details {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      min-height: 100%;
      

      img {
        width: 100%;
        max-width: 240px;
        min-width: 100px;
      }

      span {
        margin-top: 10px;
        font-weight: 900;
        font-size: 16px;
        text-align: center;
      }
    }
  }
}

.apartament {

  &__desktop {
    width: 100%;
  }

  &__mobile {
    display: none;
  }
  // position: relative;
  // padding: 50px 60px;
  // width: 100%;
  // height: 610px;
  // // background: #000;
  // display: flex;
  // align-items: center;
  // // justify-content: center;
  // // background: url('/img/background-2.svg');
  // background-size: cover;
  // background-repeat: no-repeat;
  

  // img {
  //   width: 100%;
  //   object-fit: cover;
  //   position: absolute;
  //   left: -3px;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   z-index: -1;
  // }

  // &__details {
  //   display: flex;
  //   flex-direction: column;
  //   color: white;
  //   z-index: 9999;

  //   width: 60%;
  //   max-width: 624px;

  //   .title {
  //     display: flex;
  //     font-size: 42px;
  //     font-weight: 800;
  //     margin-bottom: 40px;

  //   }

  //   p {
  //     padding-bottom: 20px;
  //     // max-width: 624px;
  //     font-weight: 400;
  //     line-height: 26px;
  //     font-size: 22px;
  //   }
  // }
}

.models {
  width: 100%;
  background: #EAE6DA;


  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 50px 60px;

  }

  &__title {
    text-align: center;
    font-size: $font-size-title; // 32px
    font-weight: 700;
    line-height: 40px;
  }

  &__items {
    display: flex;
    gap: 30px;
    margin-top: 40px;
  }

  .item {
    img,svg {
      width: 100%;
    }

    &__details {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .title {
      font-size: $font-size-text;
      margin-top: 15px;
      font-weight: 600;
      line-height: 30px;
      text-align: center;
    }

    p {
      text-align: center;
    }

    .price {
      color: #D93A2F;
      font-weight: 700;
      font-size: 28px;
      margin-top: 16px;
    }
  }
}

.install {
  width: 100%;
  background: #E5CC6B;

  &__wrapper {
    
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 32px; // 38px
    font-weight: 700;
    line-height: 50px;
    margin-bottom: $margin-title;
    padding: 0 40px;
  }

  a {
    padding: 20px;
    border-radius: 40px;
    background: #000;
    color: #E5CC6B;
    text-decoration: none;

    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;

    width: 320px;
    
    align-self: center;

    display: flex;
    align-items: center;
    justify-content: center;

    
  }

}

.bbq {

  &__wrapper {
    img,svg {
      width: 100%;
    }
  }
}

.knife {
  width: 100%;
  background: #EAE6DA;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 50px 60px;
  }

  &__title {
    font-size: $font-size-title;
    font-weight: 700;
    margin-bottom: $margin-title;
  }



  .item {
    display: flex;
    flex-direction: column;

    img, svg {
      width: 100%;
    }
  
    &__details {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .title {
      font-size: $font-size-text - 2px;
      font-weight: 400;
      text-align: center;
    }

    .price {
      color: #D93A2F;
      font-weight: 700;
      font-size: $font-size-text;
      margin-top: 15px;
    }
  }
}

.accordion {
  background: #3D3E3F;

  &__title {
    font-size: $font-size-title;
    margin-bottom: $margin-title;
    font-weight: 700;
    color: white;

  }

  .accordion__item {
    margin-bottom: 10px;
    border-bottom: 1px solid white;
  }
  
  .item__header {
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 22px;
    font-weight: 700;

    display: flex;
    justify-content: space-between;
    align-items: center;


    .plus {
      font-size: 20px;
    }

    &.active + .item__content {
      display: flex;
    }
  }
  
  .item__content {
    padding: 10px 20px;
    display: none;
    color: white;
    
    p {
      line-height: 20px;
    }
  }
  
}

.party {
  width: 100%;

  &__wrapper {
    width: 100%;
    img {
      width: 100%;
    }
  }
}

// swiperjs

.swiper-container {
  width: 100%;
  // height: 300px;
  display: flex;
  position: relative;
  overflow-x: hidden;
}

.swiper-slide {
  display: flex;
  // width: calc(100% / 4); /* Largura igual para cada slide */
 
  
}

.swiper-button-prev {
  left: -9px;

  &::after {
    font-size: 20px;
    color: #000;
  }
}

.swiper-button-next {
  right: -9px;
  

  &::after {
    font-size: 20px;
    color: #000;
  }
}

// end



@media (max-width: 800px) {


  .describe {
    &__wrapper {
      .description {
        max-width: 100% ;
        a {
          margin: 0 auto;
        }
      }
    }

    .img__mobile {
      display: flex;
    }
  }

  .churrasqueira {

  
    &__img {

      
  
      @media (max-width: 800px) {
        display: none;
      }

    }

  }

  .apartament {
    &__desktop {
      display: none;
    }

    &__mobile {
      display: flex;
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

}

@media (max-width: 620px) {
  .describe {

    &__wrapper {
    
      .description {

        
        h2 {
          font-size: $font-size-title-mobile;
          line-height: 34px;
          margin-bottom: $margin-title-mobile;
  
        }
    
        p {
          line-height: 20px;
          font-size: $font-size-text-mobile;
          padding-bottom: 24px;
        }
    
        a {

          max-width: 300px;
          height: 60px;
          font-size: 16px;
          margin-top: 20px;
    

        }
      }
    

    }
  

  }

  .churrasqueira {

  
    &__info {

      .title {
        font-size: $font-size-title-mobile;
        margin-bottom: $margin-title-mobile;
      }
  
      p {
        padding-bottom: 20px;
        line-height: 22px;
        font-size: $font-size-text-mobile;
      }
    }
  
    .churrasqueira__images {


      display: grid;
      grid-template-rows: repeat(2, auto); /* Duas linhas com altura automática */
      grid-template-columns: repeat(3, 1fr); /* Três colunas com largura igual */
      gap: 10px;
  
      .img__details {
        display: flex;
        flex-direction: column;
        align-items: center;
        // margin: 0 auto;
        
        
  
        img {
          width: 100px;
          max-width: 240px;
          min-width: 100px;
        }
  
        span {
          margin-top: 10px;
          font-weight: 900;
          font-size: 14px;
          text-align: center;
        }
      }
    }
  }

  .install {
    width: 100%;
    background: #E5CC6B;
  
    &__wrapper {
      
      display: flex;
      flex-direction: column;
    }
  
    .install__title {
      font-size: $font-size-title-mobile; // 38px
      line-height: 30px;
      margin-bottom: $margin-title-mobile;
      padding: 0;
    }
  
    a {
      padding: 16px;

  
      font-size: 16px;

  
      width: 300px;

  
      
    }
  
  }

  .models {
  
    &__title {
      font-size: $font-size-title-mobile; // 32px
    }
  

  
    .item {
  
      .title {
        font-size: $font-size-text-mobile;
        line-height: 20px;
      }
  
      p {
        text-align: center;
      }
  
      .price {
        font-size: 22px;
      }
    }
  }

  .knife {
  
    &__title {
      font-size: $font-size-title-mobile;
      margin-bottom: $margin-title-mobile;
    }
  
    .item {

      .title {
        font-size: $font-size-text - 2px;
      }
  
      .price {
        font-size: $font-size-text-mobile;
      }
    }
  }

  .accordion {
    background: #3D3E3F;
  
    &__title {
      font-size: $font-size-title-mobile;
      margin-bottom: $margin-title-mobile;
      font-weight: 700;
      color: white;
  
    }
  
    
    .item__header {

      font-size: 16px;

    }
    
    .item__content {
      font-size: 14px;
    }
    
  }
}