html {
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

$teste: 620px;

$font-size-title: 42px;
$font-size-title-mobile: 30px;

$font-size-text: 22px;
$font-size-text-mobile: 16px;

$margin-title: 40px;
$margin-title-mobile: 22px;



